### Global Sales Data
Observe the five CSV Files in the Global Sales  Data Folder<br>
Read the [market_fact.csv](https://raw.githubusercontent.com/sumathi16/MSTP-MTP-L3/master/Datasets/global_sales_data/market_fact.csv) data.

In [5]:
# import the required packages
import pandas as pd
import numpy as np
path ='https://raw.githubusercontent.com/sumathi16/MSTP-MTP-L3/master/Datasets/global_sales_data/market_fact.csv'
market_df = pd.read_csv(path)

In [6]:
# Check the shape
market_df.shape

(8399, 10)

In [7]:
# Observe the top 4 rows
market_df.head(4)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37

In [8]:
# Observe the last 2 rows
market_df.tail(2)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.87,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.69,0.00,47,131.39,4.86,0.38

In [13]:
# Observe 5 rows randomly
market_df.sample(5)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2352,Ord_2539,Prod_3,SHP_3476,Cust_942,1134.05,0.08,7,149.50,19.99,0.39
99,Ord_1638,Prod_5,SHP_5892,Cust_1433,755.19,0.00,41,81.44,8.99,0.47
6207,Ord_2680,Prod_3,SHP_3997,Cust_1030,73.90,0.06,4,-39.64,13.18,0.37
5377,Ord_1714,Prod_3,SHP_2372,Cust_592,222.20,0.03,9,-40.25,15.10,0.38
3102,Ord_1433,Prod_12,SHP_1984,Cust_545,25.10,0.04,5,2.98,0.49,0.39

In [14]:
# Check the column names
market_df.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [15]:
# Check the row indices
market_df.index

RangeIndex(start=0, stop=8399, step=1)

In [20]:
# Check for the missing values if there are any print the count
# column wise
market_df.isnull().sum()

Ord_id                  0
Prod_id                 0
Ship_id                 0
Cust_id                 0
Sales                   0
Discount                0
Order_Quantity          0
Profit                  0
Shipping_Cost           0
Product_Base_Margin    63
dtype: int64

In [21]:
# Check the data types of columns
market_df.dtypes

Ord_id                  object
Prod_id                 object
Ship_id                 object
Cust_id                 object
Sales                  float64
Discount               float64
Order_Quantity           int64
Profit                 float64
Shipping_Cost          float64
Product_Base_Margin    float64
dtype: object

In [22]:
# Calculate the no of columns for each type
market_df.dtypes.value_counts()

float64    5
object     4
int64      1
dtype: int64

In [31]:
market_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
Ord_id                 8399 non-null object
Prod_id                8399 non-null object
Ship_id                8399 non-null object
Cust_id                8399 non-null object
Sales                  8399 non-null float64
Discount               8399 non-null float64
Order_Quantity         8399 non-null int64
Profit                 8399 non-null float64
Shipping_Cost          8399 non-null float64
Product_Base_Margin    8336 non-null float64
dtypes: float64(5), int64(1), object(4)
memory usage: 656.2+ KB

In [26]:
# What are the min and max values in each column
#market_df.describe().loc[['min','max']]
market_df.describe().iloc[[3,7]]

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
min,2.24,0.00,1.0,-14140.70,0.49,0.35
max,89061.05,0.25,50.0,27220.69,164.73,0.85

In [25]:
# Calculate count,mean,std,max,25%,50%,75% quartiles
market_df.describe()

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
mean,1775.878179,0.049671,25.571735,181.184424,12.838557,0.512513
std,3585.050525,0.031823,14.481071,1196.653371,17.264052,0.135589
min,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,143.195000,0.020000,13.000000,-83.315000,3.300000,0.380000
50%,449.420000,0.050000,26.000000,-1.500000,6.070000,0.520000
75%,1709.320000,0.080000,38.000000,162.750000,13.990000,0.590000
max,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

In [28]:
# categorical Column names
cat_cols = market_df.columns[market_df.dtypes==object]
cat_cols

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id'], dtype='object')

In [29]:
# Calculate the no of unique values in each categorical column 
market_df[cat_cols].nunique()

Ord_id     5506
Prod_id      17
Ship_id    7701
Cust_id    1832
dtype: int64

In [32]:
market_df.describe(include=object)

          Ord_id Prod_id  Ship_id    Cust_id
count       8399    8399     8399       8399
unique      5506      17     7701       1832
top     Ord_2506  Prod_6  SHP_564  Cust_1140
freq           6    1225        4         30

In [30]:
# Calculate category frequecies for each value in the categorical 
# column
for i in cat_cols:
    print(market_df[i].value_counts())

Ord_2506    6
Ord_542     6
Ord_2370    5
Ord_1931    5
Ord_1639    5
Ord_2894    5
Ord_996     5
Ord_2164    5
Ord_845     5
Ord_2970    5
Ord_1846    5
Ord_1234    5
Ord_56      5
Ord_1791    5
Ord_1581    5
Ord_5186    5
Ord_1053    5
Ord_4025    5
Ord_4946    5
Ord_1664    5
Ord_1980    5
Ord_1660    4
Ord_3900    4
Ord_2200    4
Ord_3627    4
Ord_2746    4
Ord_5083    4
Ord_615     4
Ord_1819    4
Ord_1793    4
           ..
Ord_4258    1
Ord_1588    1
Ord_2465    1
Ord_5119    1
Ord_1583    1
Ord_431     1
Ord_3080    1
Ord_534     1
Ord_3383    1
Ord_4877    1
Ord_2385    1
Ord_4319    1
Ord_1543    1
Ord_1441    1
Ord_353     1
Ord_5261    1
Ord_5305    1
Ord_4581    1
Ord_2208    1
Ord_5249    1
Ord_3423    1
Ord_1601    1
Ord_4027    1
Ord_3739    1
Ord_2405    1
Ord_3136    1
Ord_425     1
Ord_308     1
Ord_5498    1
Ord_4321    1
Name: Ord_id, Length: 5506, dtype: int64
Prod_6     1225
Prod_3      915
Prod_4      883
Prod_5      788
Prod_8      758
Prod_13     633
Prod_1      546
Prod_2      434
Prod_15     386
Prod_11     361
Prod_17     337
Prod_12     288
Prod_9      246
Prod_10     189
Prod_7      179
Prod_16     144
Prod_14      87
Name: Prod_id, dtype: int64
SHP_564     4
SHP_5602    4
SHP_1378    4
SHP_6593    3
SHP_785     3
SHP_156     3
SHP_6900    3
SHP_2548    3
SHP_408     3
SHP_2528    3
SHP_2501    3
SHP_7125    3
SHP_1231    3
SHP_73      3
SHP_3315    3
SHP_7246    3
SHP_2335    3
SHP_6040    3
SHP_2545    3
SHP_2348    3
SHP_351     3
SHP_7635    3
SHP_4440    3
SHP_5001    3
SHP_2949    3
SHP_7460    3
SHP_3454    3
SHP_3992    3
SHP_376     3
SHP_432     3
           ..
SHP_1122    1
SHP_4370    1
SHP_6524    1
SHP_6591    1
SHP_1132    1
SHP_2488    1
SHP_1767    1
SHP_2862    1
SHP_3633    1
SHP_1571    1
SHP_1117    1
SHP_3036    1
SHP_268     1
SHP_3011    1
SHP_5522    1
SHP_1997    1
SHP_4386    1
SHP_6368    1
SHP_6429    1
SHP_7017    1
SHP_7424    1
SHP_3164    1
SHP_6290    1
SHP_3543    1
SHP_1535    1
SHP_243     1
SHP_1730    1
SHP_7316    1
SHP_6103    1
SHP_7423    1
Name: Ship_id, Length: 7701, dtype: int64
Cust_1140    30
Cust_1329    22
Cust_444     21
Cust_572     21
Cust_1445    20
Cust_942     20
Cust_999     20
Cust_1337    20
Cust_1799    20
Cust_188     19
Cust_576     19
Cust_492     19
Cust_1155    18
Cust_1731    18
Cust_1016    18
Cust_487     18
Cust_1457    18
Cust_1401    18
Cust_1360    18
Cust_1184    18
Cust_458     18
Cust_1673    17
Cust_214     17
Cust_138     17
Cust_944     17
Cust_512     17
Cust_464     16
Cust_466     16
Cust_1334    16
Cust_1030    16
             ..
Cust_1547     1
Cust_742      1
Cust_1761     1
Cust_1491     1
Cust_318      1
Cust_627      1
Cust_409      1
Cust_367      1
Cust_804      1
Cust_631      1
Cust_626      1
Cust_252      1
Cust_415      1
Cust_869      1
Cust_983      1
Cust_652      1
Cust_762      1
Cust_260      1
Cust_1656     1
Cust_267      1
Cust_1501     1
Cust_1082     1
Cust_779      1
Cust_747      1
Cust_876      1
Cust_1372     1
Cust_111      1
Cust_910      1
Cust_1104     1
Cust_987      1
Name: Cust_id, Length: 1832, dtype: int64

Read the remaing four csv files.Store them in cust_df,prod_df,ship_df,order_df

In [33]:
folder_path = 'https://raw.githubusercontent.com/sumathi16/MSTP-MTP-L3/master/Datasets/global_sales_data/'
cust_df =pd.read_csv(folder_path+'cust_dimen.csv')
prod_df =pd.read_csv(folder_path+'prod_dimen.csv')
ship_df =pd.read_csv(folder_path+'shipping_dimen.csv')
order_df =pd.read_csv(folder_path+'orders_dimen.csv')

Diplay the top five rows of the five datasets and understand the data.<br>
Check for the common column in market_fact and these four files

In [36]:
market_df.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [35]:
cust_df.head()

        Customer_Name Province   Region Customer_Segment Cust_id
0  MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS  Cust_1
1        BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER  Cust_2
2       CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE  Cust_3
3      CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER  Cust_4
4        CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE  Cust_5

In [39]:
print(cust_df.shape)
print(market_df.Cust_id.nunique())

(1832, 5)
1832

In [40]:
prod_df.head()

  Product_Category            Product_Sub_Category Prod_id
0  OFFICE SUPPLIES          STORAGE & ORGANIZATION  Prod_1
1  OFFICE SUPPLIES                      APPLIANCES  Prod_2
2  OFFICE SUPPLIES  BINDERS AND BINDER ACCESSORIES  Prod_3
3       TECHNOLOGY    TELEPHONES AND COMMUNICATION  Prod_4
4        FURNITURE              OFFICE FURNISHINGS  Prod_5

In [41]:
print(prod_df.shape)
print(market_df.Prod_id.nunique())

(17, 3)
17

In [42]:
order_df.head()

   Order_ID  Order_Date Order_Priority Ord_id
0         3  13-10-2010            LOW  Ord_1
1       293  01-10-2012           HIGH  Ord_2
2       483  10-07-2011           HIGH  Ord_3
3       515  28-08-2010  NOT SPECIFIED  Ord_4
4       613  17-06-2011           HIGH  Ord_5

In [43]:
market_df.Ord_id[:5]

0    Ord_5446
1    Ord_5406
2    Ord_5446
3    Ord_5456
4    Ord_5485
Name: Ord_id, dtype: object

In [45]:
print(order_df.shape)
print(market_df.Ord_id.nunique())

(5506, 4)
5506

In [46]:
ship_df.head()

   Order_ID       Ship_Mode   Ship_Date Ship_id
0         3     REGULAR AIR  20-10-2010   SHP_1
1       293  DELIVERY TRUCK  02-10-2012   SHP_2
2       293     REGULAR AIR  03-10-2012   SHP_3
3       483     REGULAR AIR  12-07-2011   SHP_4
4       515     REGULAR AIR  30-08-2010   SHP_5

In [47]:
# Merge the market_fact and cust_df files and store the result 
# in df1
df1 = pd.merge(market_df,cust_df,on='Cust_id')
df1.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin',
       'Customer_Name', 'Province', 'Region', 'Customer_Segment'],
      dtype='object')

In [48]:
print(market_df.shape)
print(df1.shape)

(8399, 10)
(8399, 14)

In [49]:
df1.head(2)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54,AARON BERGMAN,ALBERTA,WEST,CORPORATE

In [50]:
# Merge the df1 and prod_df files and store the result  in df2
df2 = pd.merge(df1,prod_df,on='Prod_id')
df2.shape

(8399, 16)

In [51]:
# Merge the df2 and ship_df files and store the result  in df3
df3 = pd.merge(df2,ship_df,on ='Ship_id')
df3.shape

(8399, 19)

In [53]:
# Merge the df3 and order_df files and store the result  in 
# master_df
master_df = pd.merge(df3,order_df,on='Ord_id')
master_df.shape

(8399, 22)

In [54]:
master_df.Product_Category.value_counts()

OFFICE SUPPLIES    4610
TECHNOLOGY         2065
FURNITURE          1724
Name: Product_Category, dtype: int64

In [55]:
master_df.groupby('Product_Category').Sales.max()

Product_Category
FURNITURE          29345.27
OFFICE SUPPLIES    25409.63
TECHNOLOGY         89061.05
Name: Sales, dtype: float64

In [56]:
master_df.groupby('Product_Category').Sales.max().max()

89061.05

In [58]:
cust_df.columns

Index(['Customer_Name', 'Province', 'Region', 'Customer_Segment', 'Cust_id'], dtype='object')

In [60]:
master_df.groupby('Customer_Segment').Sales.max()

Customer_Segment
CONSUMER          89061.05
CORPORATE         41343.21
HOME OFFICE       45923.76
SMALL BUSINESS    33367.85
Name: Sales, dtype: float64

In [62]:
master_df.groupby(['Customer_Segment','Product_Category']).Sales.max()

Customer_Segment  Product_Category
CONSUMER          FURNITURE           28389.14
                  OFFICE SUPPLIES     23516.31
                  TECHNOLOGY          89061.05
CORPORATE         FURNITURE           29345.27
                  OFFICE SUPPLIES     23106.46
                  TECHNOLOGY          41343.21
HOME OFFICE       FURNITURE           28180.08
                  OFFICE SUPPLIES     18697.24
                  TECHNOLOGY          45923.76
SMALL BUSINESS    FURNITURE           24639.80
                  OFFICE SUPPLIES     25409.63
                  TECHNOLOGY          33367.85
Name: Sales, dtype: float64

In [66]:
master_df[master_df.Product_Category=='FURNITURE'].Sales.max()

29345.27